<title>ChitChat</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css' />
<link rel='stylesheet' href='/tether/dist/css/tether.min.css?ver=1' />